/*the code for the countdown
http://www.rmkwebdesign.com/Countdown_Timers/Digital.html
*/     
#holder {
  position: absolute;   /* leave as "relative" to keep timer centered on 
         your page, or change to "absolute" then change
         the values of the "top" and "left" properties to 
         position the timer */
  top: 70%;            /* change to position the timer; must also change
         position to "absolute" above */
  left: 55%;          /* change to position the timer; must also change
         position to "absolute" above */
  width: 500px;
  height: 20px;
  border: none;
  margin: 0px auto;
}
#holder h4{
  color: #bbb;
  text-align: center;
  font: 2.8em normal Arial, Helvetica, sans-serif;
  letter-spacing: 0.13em;
}
#title, #note {
  color: lime;        /* this determines the color of the DAYS, HRS, MIN, 
         SEC labels under the timer and the color of the 
         note that displays after reaching the target date
         and time; if using the blue digital images,
         change to #52C6FF; for the red images,
         change to #FF6666; for the white images,
         change to #BBBBBB; for the yellow images,
         change to #FFFF00 */
}

#note {
  position: relative;
  top: 6px;
  height: 20px;
  width: 560px;
  margin: 0 auto;
  padding: 0px;
  text-align: center; 
  font-family: Arial; 
  font-size: 18px;
  font-weight: bold;    /* options are normal, bold, bolder, lighter */
  font-style: normal;   /* options are normal or italic */
  z-index: 1;
}

.title {
  border: none;
  padding: 0px;
  margin: 0px;
  width: 30px;
  text-align: center;
  font-family: Arial;
  font-size: 17px;
  font-weight: normal;    /* options are normal, bold, bolder, lighter */
  background-color: transparent; 
}

#timer {
  position: relative; 
  top: 0px; 
  left: 0px; 
  margin: 5px auto; 
  text-align: center; 
  width: 460px;
  height: 26px;
  border: none;
  padding: 10px 5px 20px 5px; 
  background: #000000;      /* may change to another color, or to "transparent" */
  border-radius: 20px;
  box-shadow: 0 0 10px #000000;  /* change to "none" if you don't want a shadow */
}