h1 {
  color: white;
  text-align: center;
}

#container {
  /*width:  980px;*/
  margin: 0 auto;
}
#main {
  /*text-align: center;*/
}
#container2 {
  width:  0;
  margin: 0 auto;
}
#main2 {
  /*text-align: center;*/
}
#container3 {
  margin: 0 auto;
}
#main3 {
  /*text-align: center;*/
}

#container4 {
  /*width:  980px;*/
  margin: 0 auto;
}
#main4 {
  /*text-align: center;*/
}
section {
  height: 200px;
  width:  1980px;
  margin: 10px 0;
}

.section--purple {
  background-color: none;
  
}

.section--blue {
  background-color: none;
}

.section--green {
  background-color: none;

}

/*#main {
  text-align: center;
}*/


#more {
  margin: 20px auto 48px;
}
#fadeInDownID{
  margin-top: -60%;
  margin-left: 80%;
}
#pulseId{
  margin-top: -300%;
  margin-left: 81%;
}

#bounceInLeftId{
 margin-right: 02%;
}
#slideInLeftId{
/*margin-right: 100px;*/
}
#slideInRightId{
  margin-top: -10%;
  margin-left: 5%;
}
#fadeInDownID2{
  margin-left: 400px;
}
#pulseId2{
  margin-left: 1400px;
  top:-200px;
}
#fadeInScroll1{
  margin-left: 1400px;
}

#followOnScroll{

  margin:0;
  padding: 0;
  position: fixed;
  top: 20px;
}
#followOnScrollImg{
  text-align: right;
}
/*#slideInRightId2{
  margin-top: -10%;
  margin-left: 25%;
}
.rotate {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}*/

  @font-face {
    font-family: 'brandon';
    font-style: normal;
    font-weight: 400;
    src: url('Brandon_reg.otf') format('otf');
  }

body {

    overflow-x: hidden;
font-family: arial;
}

    /* Diana's CSS*/
.wow:first-child {
  visibility: hidden;
}

.spaceshipPinkDiv-image {
      position:absolute;
      z-index:4;
     /* margin-top: -10px;*/
      width: 260px;
      top: 1200px;
      /*left: -260px;*/
  }

.spaceshipPinkDiv-image2 {
      position:absolute;
      z-index:4;
     /* margin-top: -10px;*/
      width: 260px;
      top: 3500px;
      /*left: -260px;*/
  }
/*style event info div */
.eventinfo{
  position: absolute;
  top: 120%;
  left: 30%;
  margin: 0px auto;

}
.eventinfo h2{
  color: #00e6e6;
  text-align: center;
  font: 2.8em normal Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}
.eventinfo p{
  color:  #f2f2f2;
  text-align: center;
  font: 1.8em normal Arial, Helvetica, sans-serif;
  letter-spacing: 0.13em;

}
/*END style event info div */

/*footer div*/
footer {
  margin-bottom: 250px;
}

#copyright{
  color: grey;
  position: inherit;
  top: 10px;
  width:100%;
  text-align: center;
  margin-bottom: 20px;
}
/*end footer div*/

/* Kathy's Menu CSS*/
.dotsandlines {
    display: table;
    width: 100%;
}
.circle-contain, .line {
    display: table-cell;
}
.circle-contain {
    width: 1px;
}
.circle {
	border:thin solid #F9F3F3;
    width: 100px;
    height: 100px;
	   text-align:spaceship1Div;
    color: #fff;
    border-radius: 50%;
    position: relative;
    top: 32.5px;
}
.line {
    border-bottom: 1px solid #0af;
    border-radius: 10px;
}
.line.special {
    border-bottom: 1px solid #03b;
}
.circle.special.gd {
    width: 75px;
    height: 75px;
}

.circle.special.vp {
    width: 75px;
    height: 75px;
}

.circle.special.anim {
    width: 75px;
    height: 75px;
}

.circle.special.photo {
   width: 75px;
    height: 75px;
}

.circle.special.wdv {
    width: 75px;
    height: 75px;
}

.circle.big.dmacc {
	  margin:0 auto;
    width: 150px;
    height: 150px;
    top: 15px;
    margin-bottom: 30px;
}

.circle.special.gd p{
  color: #00e6e6;

  width: 150px;
}
.circle.special.vp p{
  color: #b30000;

  width: 150px;
}
.circle.special.anim p{
  color: #1a53ff;

  width: 150px;
}
.circle.special.photo p{
  color: #ffa31a;

  width: 150px;
}
.circle.special.wdv p{
  color: #bfbfbf;
  text-align: left;
  width: 150px;
}
/*End of Menu CSS*/

.background-clear-stars {
  background-image: url(images/test.png);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

/*popup*/

.popupDisplay {
  display:none;
}
.popup {

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index:9999;
  background-color: gray;
  width:75vw;
  height:75vh;
  color:white;

}

.backgroundDiv {

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index:9998;
  width:100%;
  height:100%;

}
