/* Kathy's Menu CSS*/
.dotsandlines {
    display: table;
    width: 100%;
}
.circle-contain, .line {
    display: table-cell;
}
.circle-contain {
    width: 1px;
}
.circle {

    width: 100px;
    height: 100px;
    text-align:spaceship1Div;
    color: #fff;
    border-radius: 50%;
    position: relative;
    top: 32.5px;
}

.circle-ani {

    text-align:spaceship1Div;
    color: #fff;
    border-radius: 50%;
    position: relative;
    top: 45px;
}

.line {
    border-bottom: 1px solid #0af;
    border-radius: 10px;
}
.line.special {
    border-bottom: 1px solid #03b;
}
.circle.special.gd {
    width: 75px;
    height: 75px;
}

.circle.special.vp {
    width: 75px;
    height: 75px;
}

.circle.special.anim {
    width: 75px;
    height: 75px;
}

.circle.special.photo {
   width: 75px;
    height: 75px;
}

.circle.special.wdv {

	   width: 75px;
    height: 75px;
}

.circle.big.dmacc {

    margin:0 auto;
    width: 150px;
    height: 150px;
    top: 15px;
    margin-bottom: 50px;
}
