/* ============================================================================================== 
This copyright notice must be kept untouched in the stylesheet at all times.
The original version of this stylesheet and the associated (x)html 
is available at http://www.script-tutorials.com/night-sky-with-twinkling-stars/
Copyright (c) Script Tutorials. All rights reserved.
This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}
body{
  width: 100%;
  height: 100%;
}

header {
    /*background-color:rgba(33, 33, 33, 0.9);*/
    height:800px;
    position:relative;
    z-index:4;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

#comet{
  margin-top: 30px;
  margin-right: 100px;
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:inherit;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
/*#deathstar{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  margin-top: 100px;
  margin-left: -60px;
  background: url(images/deathstar.jpg) no-repeat;
  background-size: 200px 200px;
  opacity: 0.6;
  background-size: 630px;
}*/

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index:0;
  height: 2400px;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:1;
  height: 2400px;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/*style event info div */
.eventinfo h2{
  color: #00e6e6;
  text-align: center;
  font: 2.8em normal Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}
.eventinfo p{
  color:  #f2f2f2;
  text-align: center;
  font: 1.8em normal Arial, Helvetica, sans-serif;
  letter-spacing: 0.13em;
}
/*END style event info div */

/*Parallax Background*/
.background-clear-stars {
  background-image: url(images/test.png);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
